.reveal .slides {
  
  .title-slide { 
    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.1em;
      text-transform: lowercase;
    }
  }

  h1 {
    font-size: 1.5em;
    text-transform: none;
  }

  li p {
		margin: 0;
    display: flex;
    align-items: center;
  }
}
