.reveal .slides {
  
  .title-slide { 
    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.1em;
      text-transform: lowercase;
    }
  }

  .logo {
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin: 0 1em;
  }
}
